<h2> Pronadji pozoriste </h2>

  <mat-form-field class="example-full-width">
    <input matInput placeholder="Naziv pozorista" [(ngModel)]="nazivPozorista">
  </mat-form-field>

  <button mat-button color="primary" (click)="pretrazi(nazivPozorista)">Pretrazi</button>

<div class="example-container mat-elevation-z8">
      <mat-table #table [dataSource]="dataSource" matSort>
    
        <!-- Name Column -->
        <ng-container matColumnDef="naziv">
          <mat-header-cell *matHeaderCellDef mat-sort-header> Naziv </mat-header-cell>
          <mat-cell *matCellDef="let pozoriste"> {{pozoriste.naziv}} </mat-cell>
        </ng-container>
    
        <!-- Weight Column -->
        <ng-container matColumnDef="adresa">
          <mat-header-cell *matHeaderCellDef mat-sort-header> Adresa </mat-header-cell>
          <mat-cell *matCellDef="let pozoriste"> {{pozoriste.adresa}} </mat-cell>
        </ng-container>
    
        <!-- Symbol Column -->
        <ng-container matColumnDef="promotivniOpis">
          <mat-header-cell *matHeaderCellDef> Promotivni opis </mat-header-cell>
          <mat-cell *matCellDef="let pozoriste"> {{pozoriste.promotivniOpis}} </mat-cell>
        </ng-container>

        <ng-container matColumnDef="rezervacija">
          <mat-header-cell *matHeaderCellDef> Rezervacija </mat-header-cell>
          <mat-cell *matCellDef="let pozoriste"> 
              <div *ngIf="korisnik.tipKorisnika==='registrovanKorisnik'">
                  <button mat-button color="primary" (click)="rezervisi(pozoriste.id)">Rezervisi</button>
                  <button mat-button color="warn" (click)="posjetiFanZonu(pozoriste.id)">Fan Zona</button>
                </div>
                <div *ngIf="korisnik.tipKorisnika==='adminBP'">
                  <button mat-button color="warn" (click)="konfiguracija(pozoriste.id)">Konfiguracija</button>
                </div>
          </mat-cell>
        </ng-container>
    
        <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
        <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
      </mat-table>
    
      <mat-paginator #paginator
                     [pageSize]="10"
                     [pageSizeOptions]="[5, 10, 20]"
                     [showFirstLastButtons]="true">
      </mat-paginator>
    </div>