<h2>Rezervacija mesta</h2>

<div id="canvas"></div>

<button mat-button *ngIf="korisnik.tipKorisnika==='registrovanKorisnik'"  color="primary" [disabled]="alreadyReserved.length == 0"(click)="nastavi()">Nastavi</button>

<div *ngIf="alreadyReserved.length > 1 && korisnik.tipKorisnika==='registrovanKorisnik'">

  <h2> Pozovite prijatelje </h2>

  <div class="example-container mat-elevation-z8">
      <mat-table #table [dataSource]="dataSourcePrijateljstvo">
    
    
        <ng-container matColumnDef="ime">
          <mat-header-cell *matHeaderCellDef> Ime </mat-header-cell>
          <mat-cell *matCellDef="let prijatelj"> {{prijatelj.receiver.ime}} </mat-cell>
        </ng-container>
    
        <ng-container matColumnDef="prezime">
          <mat-header-cell *matHeaderCellDef> Prezime </mat-header-cell>
          <mat-cell *matCellDef="let prijatelj"> {{prijatelj.receiver.prezime}} </mat-cell>
        </ng-container>
  
        <ng-container matColumnDef="pozovi">
          <mat-header-cell *matHeaderCellDef> Operacija </mat-header-cell>
          <mat-cell *matCellDef="let prijatelj"> 
            <button mat-button color="primary" *ngIf="(prijatelj.prijatelji==true) && (alreadyInvited.length < alreadyReserved.length - 1)" (click)="pozovi(prijatelj.receiver.id)">Pozovi prijatelja</button>
          </mat-cell>
        </ng-container>
    
        <mat-header-row *matHeaderRowDef="displayedColumnsPrijateljstvo"></mat-header-row>
        <mat-row *matRowDef="let row; columns: displayedColumnsPrijateljstvo;"></mat-row>
      </mat-table>
    
      <mat-paginator #paginator
                     [pageSize]="10"
                     [pageSizeOptions]="[5, 10, 20]"
                     [showFirstLastButtons]="true">
      </mat-paginator>
    </div>

</div>


<div *ngIf="alreadyReserved > 0 && korisnik.tipKorisnika==='adminBP'">
  <form [formGroup]="kartaForm" (submit)="saveKartaSaPopustom()">

    <div class="form-group">
      <mat-form-field>
        <input
                matInput
                placeholder="Cena sa popustom"
                class="form-control"
                formControlName="cenaSaPopustom" >
      </mat-form-field>
    </div>

    <button mat-button type="submit" [disabled] = "!kartaForm.valid">Sacuvaj</button>
</form>

</div>