<div style="text-align:center">
  <h1>Registracija korisnika</h1>

  <form class="example-form" [formGroup]="registrationForm" (ngSubmit)="registration()">
    <mat-form-field class="example-full-width">
      <input matInput placeholder="Vase ime" formControlName="ime"> 
    </mat-form-field> <br>

    <mat-form-field class="example-full-width">
        <input matInput placeholder="Vase prezime" formControlName="prezime"> 
      </mat-form-field> <br>

    <mat-form-field class="example-full-width">
      <input matInput placeholder="Email" formControlName="email">
    </mat-form-field><br>

    <mat-form-field class="example-full-width">
        <input matInput placeholder="Mesto stanovanja" formControlName="mestoStanovanja">
    </mat-form-field><br>

    <mat-form-field class="example-full-width">
        <input matInput placeholder="Adresa" formControlName="adresa">
    </mat-form-field><br>

    <mat-form-field class="example-full-width">
        <input matInput placeholder="Broj telefona" formControlName="brojTelefona"> 
    </mat-form-field> <br>

    <mat-form-field class="example-full-width">
      <input matInput placeholder="Lozinka" formControlName="lozinka">
    </mat-form-field><br>

    <mat-form-field class="example-full-width">
        <input  matInput placeholder="Ponovite lozinku" formControlName="lozinka2">
        <p *ngIf="lozinka!=lozinka2">Lozinke se razlikuju! </p>
      </mat-form-field><br>
  
    <a routerLink="/firstForAll" class="btn btn-link">Odustani!</a>
    <button type="submit" class="btn btn-outline-dark">Registruj se</button>
    
  </form>
</div>
