<button mat-button routerLink='/homePageForRUser'>Home</button>
<button mat-button routerLink='/pozorista'>Pozorista</button>
<button mat-button routerLink='/bioskopi'>Bioskopi</button>
<button mat-button routerLink='/prijatelji'>Prijatelji</button>
<button mat-button [matMenuTriggerFor]="rezervacije">Rezervacije</button>
<button mat-button routerLink='/settingsRUser'> Podesavanja</button>
<button mat-button (click)="odjaviSe()"> Odjava</button>

<mat-menu #rezervacije="matMenu">
    <button mat-menu-item routerLink='/aktivneRezervacije'>Aktivne rezervacije</button>
    <button mat-menu-item routerLink='/istorija'>Istorija poseta</button>
</mat-menu>

<br>
Korisnicko ime: {{korisnik.email}} <br>
Ime: {{korisnik.ime}} <br>
Prezime: {{korisnik.prezime}} <br>
