<div [hidden]="aktivanKorak!==1">
  <form [formGroup]="projekcijaForm" (submit) = "getSale(); saveProjekcija()">
      
    <br>
    <br>

    <div class="form-group">
      <mat-select placeholder="Izaberite teatar" formControlName="teatarId">
        <mat-option *ngFor="let teatar of teatri" [value]="teatar.id">
          {{ teatar.naziv }}
        </mat-option>
      </mat-select>
    </div>

    <br>

    <div class="form-group">
      <mat-form-field>
        <input [matDatepicker]="datum"
                matInput
                placeholder="Datum projekcije"
                class="form-control"
                formControlName="datum" >
        <mat-datepicker-toggle matSuffix [for]="datum">
        </mat-datepicker-toggle>
        <mat-datepicker #datum></mat-datepicker>
      </mat-form-field>
    </div>

    <button mat-button color="primary" type="submit" [disabled] = "!projekcijaForm.valid">Nastavi</button>

  </form>
</div>
<div [hidden]="aktivanKorak!==2">
  <form [formGroup]="terminForm" (submit) = "saveTermin()">
      
    <br>
    <br>

    <div class="form-group">
      <mat-select placeholder="Izaberite salu" formControlName="salaId">
        <mat-option *ngFor="let sala of sale" [value]="sala.id">
          {{ sala.naziv }}
        </mat-option>
      </mat-select>
    </div>

    <br>

    <div class="form-group">
      <mat-form-field>
        <input
                matInput
                placeholder="Vreme"
                class="form-control"
                formControlName="vreme" >
      </mat-form-field>
    </div>

    <div class="form-group">
      <mat-form-field>
        <input
                matInput
                type="number"
                min="0"
                placeholder="Cena"
                class="form-control"
                formControlName="cena" >
      </mat-form-field>
    </div>

    <button mat-button color="primary" type="submit" [disabled] = "!terminForm.valid">Nastavi</button>

  </form>
</div>
