<mat-toolbar>
  <span>ISA 2018</span>
  <span class="example-fill-remaining-space"></span>
  <a routerLink="/login" class="btn btn-link">Prijavi se</a> 
</mat-toolbar>

<br>
<br>

        <div>
            <p>VIDI BIOSKOPE</p>
            <div class="example-container mat-elevation-z8">
                <mat-table #table [dataSource]="dataSource">
              
                  <!-- Position Column -->
                  <ng-container matColumnDef="id">
                    <mat-header-cell *matHeaderCellDef> Id </mat-header-cell>
                    <mat-cell *matCellDef="let bioskop"> {{bioskop.id}} </mat-cell>
                  </ng-container>
              
                  <!-- Name Column -->
                  <ng-container matColumnDef="naziv">
                    <mat-header-cell *matHeaderCellDef> Naziv </mat-header-cell>
                    <mat-cell *matCellDef="let bioskop"> {{bioskop.naziv}} </mat-cell>
                  </ng-container>
              
                  <!-- Weight Column -->
                  <ng-container matColumnDef="adresa">
                    <mat-header-cell *matHeaderCellDef> Adresa </mat-header-cell>
                    <mat-cell *matCellDef="let bioskop"> {{bioskop.adresa}} </mat-cell>
                  </ng-container>
              
                  <!-- Symbol Column -->
                  <ng-container matColumnDef="promotivniOpis">
                    <mat-header-cell *matHeaderCellDef> Promotivni opis </mat-header-cell>
                    <mat-cell *matCellDef="let bioskop"> {{bioskop.promotivniOpis}} </mat-cell>
                  </ng-container>
              
                  <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
                  <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
                </mat-table>
              
                <mat-paginator #paginator
                               [pageSize]="10"
                               [pageSizeOptions]="[5, 10, 20]"
                               [showFirstLastButtons]="true">
                </mat-paginator>
              </div>

<!---------------------------------------------------------------------------------------------------------------------- -->
        
<div>
  <p>VIDI POZORISTA</p>
  <div class="example-container mat-elevation-z8">
      <mat-table #table [dataSource]="dataSource2">
    
        <!-- Position Column -->
        <ng-container matColumnDef="id">
          <mat-header-cell *matHeaderCellDef> Id </mat-header-cell>
          <mat-cell *matCellDef="let pozoriste"> {{pozoriste.id}} </mat-cell>
        </ng-container>
    
        <!-- Name Column -->
        <ng-container matColumnDef="naziv">
          <mat-header-cell *matHeaderCellDef> Naziv </mat-header-cell>
          <mat-cell *matCellDef="let pozoriste"> {{pozoriste.naziv}} </mat-cell>
        </ng-container>
    
        <!-- Weight Column -->
        <ng-container matColumnDef="adresa">
          <mat-header-cell *matHeaderCellDef> Adresa </mat-header-cell>
          <mat-cell *matCellDef="let pozoriste"> {{pozoriste.adresa}} </mat-cell>
        </ng-container>
    
        <!-- Symbol Column -->
        <ng-container matColumnDef="promotivniOpis">
          <mat-header-cell *matHeaderCellDef> Promotivni opis </mat-header-cell>
          <mat-cell *matCellDef="let pozoriste"> {{pozoriste.promotivniOpis}} </mat-cell>
        </ng-container>
    
        <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
        <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
      </mat-table>
    
      <mat-paginator #paginator
                     [pageSize]="10"
                     [pageSizeOptions]="[5, 10, 20]"
                     [showFirstLastButtons]="true">
      </mat-paginator>
    </div>
       
    



