<mat-toolbar>
    <span>Sistem administrator</span>
    <span class="example-fill-remaining-space"></span>
    <a routerLink="/login" class="btn btn-link">Odjavi se</a> 
</mat-toolbar>

<br>
<br>

<mat-grid-list cols="2" rowHeight="2:1">
    <mat-grid-tile>
        <div>
            <button mat-button color="primary" routerLink="/registrationAdmin">DODAJ ADMINA</button>
        </div>
    </mat-grid-tile>
    <mat-grid-tile>
        <div>
            <button mat-button color="primary" routerLink="/registrationPozoriste">DODAJ POZORISTA</button>
        </div>
    </mat-grid-tile>
  </mat-grid-list>
