<h2> Pronadji prijatelje </h2>

  <mat-form-field class="example-full-width">
    <input matInput placeholder="Ime" [(ngModel)]="imeS">
  </mat-form-field>

  <mat-form-field class="example-full-width">
      <input matInput placeholder="Prezime" [(ngModel)]="prezimeS">
  </mat-form-field>

  <button mat-button color="primary" (click)="pretrazi(imeS, prezimeS)">Pretrazi</button>


<div class="example-container mat-elevation-z8">
    <mat-table #table [dataSource]="dataSource">
  
  
      <ng-container matColumnDef="ime">
        <mat-header-cell *matHeaderCellDef> Ime </mat-header-cell>
        <mat-cell *matCellDef="let korisnik"> {{korisnik.ime}} </mat-cell>
      </ng-container>
  
      <ng-container matColumnDef="prezime">
        <mat-header-cell *matHeaderCellDef> Prezime </mat-header-cell>
        <mat-cell *matCellDef="let korisnik"> {{korisnik.prezime}} </mat-cell>
      </ng-container>

      <ng-container matColumnDef="zahtev">
        <mat-header-cell *matHeaderCellDef> Zahtev </mat-header-cell>
        <mat-cell *matCellDef="let korisnik"> 
          <button mat-button color="primary" (click)="posaljiZahtev(korisnik.id)">Posalji zahtev</button>
        </mat-cell>
      </ng-container>
  
      <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
      <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
    </mat-table>
  
  </div>


  <h2> Prijatelji </h2>

  <div class="example-container mat-elevation-z8">
      <mat-table #table [dataSource]="dataSourcePrijateljstvo" matSort>
    
    
        <ng-container matColumnDef="imeP">
          <mat-header-cell *matHeaderCellDef mat-sort-header> Ime </mat-header-cell>
          <mat-cell *matCellDef="let prijatelj"> {{prijatelj.receiver.ime}} </mat-cell>
        </ng-container>
    
        <ng-container matColumnDef="prezimeP">
          <mat-header-cell *matHeaderCellDef mat-sort-header> Prezime </mat-header-cell>
          <mat-cell *matCellDef="let prijatelj"> {{prijatelj.receiver.prezime}} </mat-cell>
        </ng-container>
  
        <ng-container matColumnDef="operacija">
          <mat-header-cell *matHeaderCellDef> Operacija </mat-header-cell>
          <mat-cell *matCellDef="let prijatelj"> 
            <button mat-button color="primary" *ngIf="prijatelj.prijatelji===false && prijatelj.zahtevPoslao!==korisnikId" (click)="prihvatiZahtev(true, prijatelj.receiver.id)">Prihvati zahtev</button>
            <button mat-button color="primary" *ngIf="prijatelj.prijatelji==false" (click)="prihvatiZahtev(false, prijatelj.receiver.id)">Obrisi zahtev</button>
            <button mat-button color="primary" *ngIf="prijatelj.prijatelji==true" (click)="obrisiPrijatelja(false, prijatelj.receiver.id)">Obrisi prijatelja</button>
          </mat-cell>
        </ng-container>
    
        <mat-header-row *matHeaderRowDef="displayedColumnsPrijateljstvo"></mat-header-row>
        <mat-row *matRowDef="let row; columns: displayedColumnsPrijateljstvo;"></mat-row>
      </mat-table>
    
      <mat-paginator #paginator
                     [pageSize]="2"
                     [pageSizeOptions]="[2, 4, 6]"
                     [showFirstLastButtons]="true">
      </mat-paginator>
    </div>