<div [hidden]="aktivanKorak!==1">
  <h2>Dodaj salu</h2>
  <form class="example-form" [formGroup]="salaForm" (ngSubmit)="saveSala(); aktivanKorak=2">
      <mat-form-field class="example-full-width">
        <input matInput placeholder="Naziv" formControlName="naziv"> 
      </mat-form-field> <br>
    
      <button mat-button type="submit" [disabled] = "!salaForm.valid" color="primary" >Sacuvaj salu</button>
      
  </form>
</div>

<div [hidden]="aktivanKorak!==2">
  <h2>Dodaj segment</h2>
  <form class="example-form" [formGroup]="segmentForm" (ngSubmit)="saveSegment()">
      <mat-form-field class="example-full-width">
        <input matInput placeholder="Naziv" formControlName="naziv"> 
      </mat-form-field> <br>
    
      <mat-form-field class="example-full-width">
        <input matInput placeholder="Boja" formControlName="boja"> 
      </mat-form-field> <br>
    
      <button mat-button type="submit" [disabled] = "!segmentForm.valid" color="primary" >Sacuvaj segment</button>
  
  </form>
  <button mat-button (click)="aktivanKorak=3" color="primary" >Zavrsi dodavanje segmenata</button>
</div>

<div [hidden]="aktivanKorak!==3">
  <h2>Konfigurisi raspored sedenja</h2>
  <mat-select placeholder="Dodaj mesto u odredjeni segment">
    <mat-option *ngFor="let segment of segments" (click)="novoMesto(segment.id, segment.boja)" >{{segment.naziv}}</mat-option>
  </mat-select>

  <div id="canvas"></div>
  <button mat-button routerLink="/adminBP" color="warn" >Sacuvaj konfiguraciju sedenja</button>
</div>




