<button mat-button routerLink='/pozorista'>Pozorista</button>
<button mat-button routerLink='/bioskopi'>Bioskopi</button>
<button mat-button [matMenuTriggerFor]="film">Film</button>
<button mat-button (click)="odjaviSe()"> Odjava</button>
<button mat-button color="warn"  (click)="podesavanja()">Podesavanja</button>

<mat-menu #film="matMenu">
    <button mat-menu-item routerLink='/film'>Dodaj film</button>
    <button mat-menu-item routerLink='/sviFilmovi'>Prikaz svih filmova</button>
</mat-menu>
